{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock css %}
{% block body %}
</div class="body">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 small-12">&nbsp;</div>
            <div class='text-center large-12 medium-12 small-12'>
                <h1>Welcome {{ user }} </h1>
            </div>
            {% if hasWorkout == False%}
            <div class="large-12 medium-12 small-12">&nbsp;</div>
            <div class="text-center large-4 medium-2 small-12 large-offset-4 medium-offset-3">
                <img src="{% static "images/empty_gym.jpg" %}" alt="empty_gym" />
            </div>
            <div class="large-12 medium-12 small-12">&nbsp;</div>
            <div class="text-center large-4 medium-2 small-12 large-offset-4 medium-offset-3">
                <p>
                    {{ message }}
                </p>
            </div>
            <div class="large-12 medium-12 small-12">&nbsp;</div>
            <div class="text-center large-4 medium-2 small-12 large-offset-4 medium-offset-3">
                    <a href="/new_workout/" class="button expanded">New Workout!</a>
            </div>
            {% endif %}
            {% if hasWorkout %}
            <div class="large-12 medium-12 small-12">&nbsp;</div>
            {% for week in workoutWeeks %}
            <div class="large-3 medium-6 small-12">
                <div class="grid-y" style="height: 30%;">                    
                    <div class="grid-container">
                    <div class="large-12">
                        <strong>{{ week.pretty_name }}</strong>                              
                    </br>
                        Rep Range: {{week.reps}}
                    </div>
                        {% if week.bench_done %}
                        <div class="large-12 workout-divs done">
                            <div class="grid-container">
                                <p class="large-4 medium-3 small-3 workout-cell left-cell">Bench</p>
                                <p class="large-4 medium-3 small-3 workout-cell center-cell">{{ week.bench }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="large-12 workout-divs">
                            <div class="grid-container">
                                <p class="large-4 medium-4 small-4 workout-cell left-cell">Bench</p>
                                <p class="large-4 medium-4 small-4 workout-cell center-cell">{{ week.bench }}</p>
                                <a class="large-4 medium-4 small-4 workout-cell right-cell clear button" href="/update/{{week.name}}/bench/">Done</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if week.squat_done %}
                        <div class="large-12 workout-divs done">
                            <div class="grid-container">
                                <p class="large-4 medium-4 small-4 workout-cell left-cell">Squat</p>
                                <p class="large-4 medium-4 small-4 workout-cell center-cell">{{ week.squat }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="large-12 workout-divs">
                            <div class="grid-container">
                                <p class="large-4 medium-4 small-4 workout-cell left-cell">Squat</p>
                                <p class="large-4 medium-4 small-4 workout-cell center-cell">{{ week.squat }}</p>
                                <a class="large-4 medium-4 small-4 workout-cell right-cell clear button" href="/update/{{week.name}}/squat/">Done</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if week.overhead_done %}
                        <div class="large-12 workout-divs done">
                            <div class="grid-container">
                                <p class="large-4 medium-4 small-4 workout-cell left-cell">Overhead</p>
                                <p class="large-4 medium-4 small-4 workout-cell center-cell">{{ week.overhead }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="large-12 workout-divs">
                            <div class="grid-container">
                                <p class="large-4 medium-4 small-4 workout-cell left-cell">Overhead</p>
                                <p class="large-4 medium-4 small-4 workout-cell center-cell">{{ week.overhead }}</p>
                                <a class="large-4 medium-4 small-4 workout-cell right-cell clear button" href="/update/{{week.name}}/overhead/">Done</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if week.deadlift_done %}
                        <div class="large-12 workout-divs done">
                            <div class="grid-container">
                                <p class="large-4 medium-4 small-4 workout-cell left-cell">Deadlift</p>
                                <p class="large-4 medium-4 small-4 workout-cell center-cell">{{ week.deadlift }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="large-12 workout-divs">
                            <div class="grid-container">
                                <p class="large-4 medium-4 small-4 workout-cell left-cell">Deadlift</p>
                                <p class="large-4 medium-4 small-4 workout-cell center-cell">{{ week.deadlift }}</p>
                                <a class="large-4 medium-4 small-4 workout-cell right-cell clear button" href="/update/{{week.name}}/deadlift/">Done</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="large-12 medium-12 small-12">&nbsp;</div>
            <div class="large-8 medium -8 small-12 large-offset-2">
                <strong>*For each workout do in addition 2 supplemental lift. But your focus is on the main lift so 
                        after a warm-up start with the main lift then supplement. The '+' next to the final set
                        indicates you should do that set till failure. Progress can be as incremental as one ore rep
                        each week, this is important!
                </strong>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}