{% extends "base.html" %}
{% block css %}
{% load static %}
{% comment %} <link rel="stylesheet" href="{% static "css/base.css" %}"> {% endcomment %}
{% endblock css %}
{% block body %}
</div class="body">
<div class="grid-container">
  <div class="grid-x grid-padding-x">
      <div class="small-12"></br></br></br></div>
    <div class="text-center large-6 medium-12 small-12 large-offset-3">
        <h1>Digital ST</h1>
    </div>
    </br>
    <div class="grid-x" id="image-container">
        <div class="cell large-3 medium-4 small-8 large-offset-2 small-offset-2 medium-offset-2"><img class="img-grid" src="{% static "images/squat.jpg" %}" alt="squat"></div>
        <div class="cell small-3 hide-for-small-only hide-for-medium-only"><img class="img-grid" src="{% static "images/deadlift.jpg" %}" alt="deadlift"></div>
        <div class="cell large-3 medium-4 hide-for-small-only"><img class="img-grid" src="{% static "images/chalk.jpg" %}" alt="chalk"></div>
    </div>
    </br>
    <div class="text-center large-9 medium-9 small-12 large-offset-2 medium-offset-1">
        <p class="body-text">Are you looking for a proven, safe, effective program to increase your strength. If so Jim Weilder's 5-3-1 program
        may be right for you. If so welcome to Digital ST a site where you can create and manage your 5-3-1 program.
        This program to many seems slow but it is designed to push you over time and is constructed in a fashion that you
        are always making strength gains in the safest possible way. This program is not designed to loose fat, it is not designed for
        bodybuilding, it is designed to increase strength. So if this strength is your goal and you enjoy picking up heavy things and
        putting it down again then register for free today! 
        </p>
    </div>
    <div class="large-4 medium-4 small-6 large-offset-2 medium-offset-2">
        <a href="/login/" class="button expanded">Login</a>
    </div>
    <div class="large-4 medium-4 small-6">
        <a href="/register/" class="button expanded secondary">Register</a>    
    </div>
    </div>
  </div>
</div>
{% endblock %}