.workout-divs {
    background-color: rgb(42, 71, 165);
    border-bottom: 3px solid black;
    border-radius: 5px;
    padding: .7vw;
}

.done{
    background-color: rgb(165, 42, 42);
}

.workout-divs p {
    display: inline-block;
}

.workout-cell {
    padding: 0px;
    margin: 0px;
}

.right-cell {
    padding-left: .5vw;
    padding-top: .2vw;
    text-align: right;
    float: right;
}

.center-cell {
    padding-left: .5vw;    
    text-align: right;
}

.left-cell {
    text-align: left;
    float: left;
}